meta(charset='utf-8')
title Android Swarm
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css')
link(rel='stylesheet', href='static/styles/app.css')